.App {
  text-align: center;
}

.images, .keypoints {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.images img {
  margin: 5px;
  width: 640px;
  height: auto;
}

.images canvas {
  margin: 5px;
  width: 640px;
  height: auto;
}

.keypoints canvas {
  margin: 5px;
  width: 640px;
  height: auto;
}